@model List<CategoryDtoWithProductList>
@{
    ViewData["Title"] = "GetCategoryListWithProduct";
}

<h1>GetCategoryListWithProduct</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Oluşturma Zamanı</th>
            <th scope="col">Güncelleme Zamanı</th>
            <th scope="col">Bu Kategorideki Ürünler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CreatedDate</td>
                <td>@item.UpdatedDate</td>
                @{
                    string products = "";
                    foreach (var product in item.Products)
                    {
                        products += product.Name + ", ";
                    }
                    if (item.Products.Count() == 0)
                    {
                        products = "";
                    }
                    else
                    {
                        products = products.Remove(products.Length - 2, 2);
                    }
                }
                <td>@products</td>


            </tr>
        }
    </tbody>
</table>