@model IEnumerable<ProductDtoList>
@{
    ViewData["Title"] = "GetAllList";
}

<h1>GetAllList</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Stok Adedi</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">Ürün Tipi</th>
            <th scope="col">Oluşturulma Zamanı</th>
            <th scope="col">Güncelleme Zamanı</th>
            <th colspan="2">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CategoryName</td>
                <td>@item.ProductTypeName</td>
                <td>@item.CreatedDate</td>
                <td>@item.UpdatedDate</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                </td>
                <td>
                    <form method="post" asp-controller="Product" asp-action="Remove" asp-route-id="@item.Id">
                        <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete">Sil</a>
                        <div class="modal fade" tabindex="-1" id="confirm-delete" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="table-header">
                                        <div>
                                            <p class="text-right"><b>@DateTime.Now.ToString("dd/MM/yyyy")</b></p>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text-center">Aşğıda Bilgileri Bulunan Ürün Silinecektir</h3>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Adı</th>
                                                    <th scope="col">Stok Adedi</th>
                                                    <th scope="col">Kategori Adı</th>
                                                    <th scope="col">Ürün Tipi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.Stock</td>
                                                    <td>@item.CategoryName</td>
                                                    <td>@item.ProductTypeName</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Onayla</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>

