@model OrderDtoInsert
@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>
@*<form asp-controller="Category" asp-action="Edit" method="post">
    <input asp-for="UserId" value="@Model.UserId" type="hidden" />
    <input asp-for="CompanyId" value="@Model.CompanyId" type="hidden" />

    <input type="submit" class="btn-primary" value="Sipariş Oluştur" />
</form>*@

<div class="container">
    <div class="bg-info">
        <h3 class="text-center">Ürün Listesi</h3>
        <form>


            <table id="ProductList" class="table table-striped table-bordered table-hover">

                <thead>

                    <tr>
                        <th>Ürün Adı</th>
                        <th>Kategori Adı</th>
                        <th>Ürün Tipi</th>
                        <th>Fiyatı</th>
                        <th>Stok Adedi</th>
                        <th>Seçim</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.CategoryName</td>
                            <td>@item.ProductTypeName</td>
                            <td>@item.Price</td>
                            <td>@item.Stock</td>
                            <td>
                                <label class="pos-rel">
                                    <input value="@item.Id" type="checkbox" class="ace">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </form>
    </div>
</div>

@section scripts
    {

    <script>
        $(document).ready(function () {
            $('#ProductList').DataTable({
                "processing": true,
            });
        });
    </script>

}






