@model OrderDtoInsert
@{
    ViewData["Title"] = "Create";

}

<div class="container">
    <div class="bg-info">
        <h3 class="text-center">Ürün Listesi</h3>
    </div>
    <input name="UserId" value="@Model.UserId" type="hidden" />
    <input name="CompanyId" value="@Model.CompanyId" type="hidden" />
    <div>
        <table id="ProductList" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Kategori Adı</th>
                    <th>Ürün Tipi</th>
                    <th>Fiyatı</th>
                    <th>Stok Adedi</th>
                    <th>Adet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td><input id="productName" type="hidden" value="@item.Name">@item.Name</td>
                        <td><input id="categoryId" type="hidden" value="@item.CategoryId">@item.CategoryName</td>
                        <td><input id="productTypeId" type="hidden" value="@item.ProductTypeId">@item.ProductTypeName</td>
                        <td><input id="productPrice" type="hidden" value="@item.Price" disabled>@item.Price</td>
                        <td><input id="LastStock" type="hidden" value="@item.Stock" disabled>@item.Stock</td>
                        <td>
                            <input id="productPiece" class="productPiece" min="1" type="number">
                        </td>
                        <td>
                            <input id="productId" value="@item.Id" disabled type="hidden">
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="bg-black mt-2">
        <button data-toggle="modal" data-target="#AddOrder" OnClientClick="return openmodal();return false;" class="btn btn-success btn-block">
            Sipariş Oluştur
        </button>
    </div>
</div>
<div class="modal fade" id="AddOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sipariş Tamamla</h5>
            </div>
            <div class="modal-body ">
                <div class="form-group">
                    <label>Sipariş için İletişim Numarası:</label>
                    <input type="text" id="ContactPhone" name="ContactPhone" class="form-control"><br />
                    <label>Sipariş için E-Mail Adresi:</label>
                    <input type="email" id="ContactMail" name="ContactMail" class="form-control"><br />
                    <label>Sipariş için Not Girebilirsiniz:</label>
                    <textarea id="Description" name="Description" rows="4" class="form-control"></textarea><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submitOrder" class="btn btn-primary test">Sipariş Oluştur</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>

        </div>
    </div>
</div>




@section scripts
    {

    <script>
        $(document).ready(function () {
            var table = $('#ProductList').DataTable({
                "drawCallback": function (settings) {
                    $(".productPiece").on("change", function () {
                        var $row = $(this).parents("tr");
                        var rowData = table.row($row).data();
                        rowData.MarkupValue = $(this).val();
                    });
                }
            });
            $("#submitOrder").click(function () {

                var data = [];
                var selectedRow = table.rows('.selected').data();
                for (var i = 0; i < selectedRow.length; i++) {
                    var productName = $(selectedRow[i][0]).val();
                    var categoryId = $(selectedRow[i][1]).val()
                    var productTypeId = $(selectedRow[i][2]).val();
                    var productPrice = $(selectedRow[i][3]).val();
                    var lastStock = $(selectedRow[i][4]).val();
                    var productId = $(selectedRow[i][6]).val();
                    var productPiece = Object.values(selectedRow[i]);

                    var modelOrderLines = {
                        ProductId: productId,
                        Price: productPrice,
                        CategoryId: categoryId,
                        Name: productName,
                        LastStock: lastStock,
                        ProductTypeId: productTypeId,
                        ProductPiece: productPiece[7]
                    };
                    data.push(modelOrderLines);
                }
                var model = {
                    UserId: $('#UserId').val(),
                    CompanyId: $('#CompanyId').val(),
                    ContactPhone: $('#ContactPhone').val(),
                    ContactMail: $('#ContactMail').val(),
                    Description: $('#Description').val(),
                    OrderLines: data
                }
                $.ajax({
                    url: '@Url.Action("Create", "Order")',
                    type: 'POST',
                    data: JSON.stringify(model),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        location.reload();
                    }
                });
            });
        });
        $('input[type="number"]').on('keypress', function (e) {
            if (e.which < 48 || e.which > 57) {
                e.preventDefault();
                return false;
            }
        });
        $('#ProductList tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

    </script>

}






