@model IEnumerable<OrderDtoList>
@{
    ViewData["Title"] = "GetAllList";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Kod</th>
            <th scope="col">Nakliyeci Adı</th>
            <th scope="col">Şirket Adı</th>
            <th scope="col">Oluşturulma Zamanı</th>
            <th scope="col">Güncelleme Zamanı</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderCode</td>
                <td>@item.ShipperName</td>
                <td>@item.CompanyName</td>
                <td>@item.CreatedDate</td>
                <td>@item.UpdatedDate</td>
                <td>
                    <a class="btn btn-warning" asp-route-id="@item.Id">Detay</a>
                    <a class="btn btn-primary" asp-route-id="@item.Id">İşleme Al</a>
                </td>
            </tr>
        }
    </tbody>
</table>

